@use 'Styles/utilities' as *;

.hangman-answer {
    display: flex;
    column-gap: 100px;
    row-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
    width: calc(100vw - 224px);
    height: max-content;

	&__word {
        display: flex;
        gap: 16px;
	}

	&__letter {
		width: 88px;
		height: 112px;
		background: #2463ff;
		box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #3c74ff;
		border-radius: 40px;
		color: #2463ff;
        @include headingL;
        display: grid;
        place-items: center;
        text-transform: uppercase;
        transition: .5s ease color;
        font-size: 64px;

        &--show {
            color: #ffffff;
        }
	}
}
