@use 'Styles/utilities' as *;
@use './guide-page' as *;

.hangman-game-page {
	@extend .guide-page;

	&__top-section {
		@extend .guide-page__top-section;
		justify-content: space-between;

		&__menu-button-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 57px;
			width: 394px;
			height: 106px;

			&__title {
				@include headingM;
				color: #ffffff;
				font-weight: 400;
				width: max-content;
			}
		}

		&__health-bar-container {
			display: flex;
			align-items: center;
			gap: 40px;
			width: 253.33px;
			height: 48.93px;

			&__bar-container {
				width: 160px;
				height: 31px;
				padding: 9px 11px;
				background: #ffffff;
				border-radius: 96px;

				&__bar {
					width: 100%;
					height: 13px;
					background: #261676;
					border-radius: 96px;
                    transition: .5s ease width;
				}
			}
		}
	}
}
