@use 'Styles/utilities' as *;

.main-menu {
	height: 500px;
	width: 592px;
	border-radius: 72px;
	background: linear-gradient(#344aba, #001479d4);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 129px;
	box-shadow: inset 0 -8px 0 4px #140e66, inset 0 6px 0 8px #2463ff;
	gap: 50px; 
	margin-top: 70px;

	&__logo {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: -73px;
	}

	&__play-button {
		background: linear-gradient(#fe71fe, #7199ff);
		width: 200px;
		height: 200px;
		border-radius: 50%;
		box-shadow: inset 0px -4px 0px 5px #243041, inset 0 -12px 0px 11px #9d2df5;

        &__img {
            width: 62px;
            height: 62px;
        }
	}
}
