@use 'Styles/utilities' as *;
@use './guide-page' as *;

.select-category-page {
    @extend .guide-page;

    &::before {
        content: '';
        inset: 0;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: linear-gradient(#1A043A, #151278 70%, #2b1677);
        opacity: 0.75;
        z-index: -1;
    }

	&__top-section {
		@extend .guide-page__top-section;
	}

    &__categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}
