@use 'Styles/utilities' as *;

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Mouse Memoirs';
	text-transform: uppercase;

	&--primary {
		width: max-content;
		padding: 12px 64px;
		height: 62px;
		border-radius: 40px;
		background: $blue;
		color: $white;
		box-shadow: inset 0 -2px 0 3px #140e66, inset 0 1px 0 6px #3c74ff;
		@include headingS;
		@extend .button;
	}

	&--circle {
		height: 94px;
		width: 94px;
		border-radius: 50%;
		background: $pinkGradient;
		box-shadow: inset 0px -6px 0px 7px rgba(159, 46, 245, 0.25);
		justify-self: start;
	}

	&--category {
		@extend .button--primary;
		width: 384px;
		height: 190px;
		text-transform: uppercase;
	}

	&--letter-button {
		@extend .button;
		width: 109px;
		height: 84px;
		background: #ffffff;
		border-radius: 24px;
		@include headingM;
		color: $darkNavy;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			transition: 0.5s ease background;
			inset: 0;
			border-radius: 24px;
			z-index: 5;
		}

		&:disabled::after {
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.25;
			cursor: default;
		}
	}

	&--quit-game {
		@extend .button;
		width: 235px;
		height: 62px;
		background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
		box-shadow: inset 0px -2px 0px 3px #140e66, inset 0px 1px 0px 6px #c642fb;
		border-radius: 40px;
		color: $white;
		@include headingS;

	}
}
