@use 'Styles/utilities' as *;

body {
	background: url('../../../public/images/background-desktop.svg') no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}