@use 'Styles/utilities' as *;

@font-face {
	font-family: 'Mouse Memoirs';
	src: url('../../Assets/Fonts/MouseMemoirs-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Mouse Memoirs', sans-serif;
	font-style: normal;
}
